---
layout: default
title: 

---

<main class='survey-page'>
  <header class="top-section top-section--accent-color survey-header">
    <div class="row align-center">
      <hgroup class="column large-12">
        <h1>{{page.title}}</h1>
        {% if page.is_active == false %}
        <h5>{{page.date_start}} to {{page.date_end}}</h5>
        {% endif %}
      </hgroup>
    </div>

    <div class="row align-center">
      {% if page.is_active %}
        <div class="large-5 column survey-active small-12">
          <p>In Process</p>
        </div>
      {% else %}
      <div class="large-5 column top-section__left-panel survey-responses">
        <strong>{{page.qty_responses}}</strong>Responses
      </div>
      {% endif %}
      
      <div class="large-5 column top-section__right-panel small-12">
        <p>{{page.description}}</p>
      </div>
    </div>
    <div class="floating-button">
      <div class="floating-button__wrapper">
        {% if page.is_active %}
          <a href="#" class="button button--main-color button--floating button--{{page.abbreviation}} js-open-modal">Take the Survey</a>
        {% else %}
          <a href="/files/{{page.downloads.findings}}" target="_blank" class="button--main-color button button--floating button--{{page.abbreviation}}">Download Findings</a>
        {% endif %}  
      </div>
    </div>
  </header>

  <div class="page-section survey-description">
    <div class="row align-center">
      <div class="large-6 columns small-12">
        <h3>Objectives</h3>
        <ul>
          {% for objective in page.objectives %}
          <li>{{objective}}</li>
          {% endfor %}
        </ul>
        {% if page.initial_results %}
        <h3>Initial Results</h3>
        <p>{{page.initial_results}}</p>
        {% endif %}   
      </div>

      {% if page.is_active == false %}
      <div class="large-6 column small-12">
        <h3>Key Findings</h3>
        <p>{{page.key_findings}}</p>
      </div>
      {% endif %}
    </div>

     
  </div>

  <!-- modal window -->
  <div class="modal js-target-modal">
    <span id="close-modal" class="button button--icon-only js-close-modal"><i class="material-icons">close</i></span>
    <div class="modal__content">
      <h2>Request an Invite</h2>
      <form action="//formspree.io/info@thegovlab.org" method="POST" class="form">
        <div class="row align-center">
          <div class="large-12 columns">
            <input type="text" id="first-name" placeholder="First Name" name="first-name"/>
            <input type="text" id="last-name" placeholder="Last Name" name="last-name"/>
            <input type="email" id="mail" placeholder="Email" name="email" required/>
            <input type="text" id="title" placeholder="Title" name="title" required/>
            <input type="text" id="affiliation" placeholder="Affiliation" name="affiliation" required/>
            <input type="hidden" name="_next" value="//govlab.github.io/data-driven-criminal-justice/confirmation.html" />
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" value="Send">
            
          </div>
        </div>
      </form>
    </div>
  </div>

<!-- <div class="b-divider m-{{abbreviation}} m-next">
  <div class="row"> 
    <div class="large-6 large-offset-6 columns">
      <h1>See the Survey</h1>
      {% if page.is_active %}
      <a href="#" class="js-open-modal">
        <h2>{{page.title}}<i class="material-icons">chevron_right</i></h2>
      </a>
      {% else %}
      <a href="{{page.link.survey}}" target="_blank">
        <h2>{{page.title}}<i class="material-icons">chevron_right</i></h2>
      </a>
      {% endif %}
      </div>
  </div>
</div> -->
</main>

